Options -Indexes

<IfModule mod_rewrite.c> 
  RewriteEngine on

# deal with admin first


RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]

RewriteCond %{REQUEST_URI} !^/backend/web/(assets|css)/
RewriteCond %{REQUEST_URI} ^/(admin) 
RewriteRule ^.*$ backend/web/index.php [L]

  RewriteCond %{REQUEST_URI} !^public
  RewriteRule ^admin(.*)$ backend/web/$1 [L] 
  
  
  # if a directory or a file exists, use it directly

# otherwise forward it to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

#RewriteCond %{HTTPS} on
#RewriteCond %{HTTP_HOST} !^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}
#RewriteRule ^(.*)$ https://www.palcura.com\/$1 [L,R=301] 

RewriteRule ^contact$ /site/contact?&%{QUERY_STRING} [NC,L]

</IfModule>

# Deny accessing below extensions
<Files ~ "(.json|.lock|.git)">
Order allow,deny
Deny from all
</Files>

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]
